<html>

<head>
    <title>Video Translate</title>
    
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Cuprum&family=Merriweather:ital,wght@1,300&family=Montserrat&family=Open+Sans&family=Roboto&family=Sacramento&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Carattere&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/872673ab28.js" crossorigin="anonymous"></script>
    <link rel="icon" href="../static/img/favicon_1.ico">
</head>

<body>

    <div class="nav_head">
        <div class="nav_title"><h1 style="margin-top:15px ;">Realtime Communication System</h1></div>
        <div class="icons">
            <ul class="header-list">
                <li class="header-list-elements"><a class="link-tag" id="profile_page" href='./profile.html'>Profile</a></li>
                <li class="header-list-elements"><a class="link-tag" href="./about_us.html">About</a></li>
                <li class="header-list-elements"><a class="link-tag" href="./home.html">Home</a></li>
                <li class="header-list-elements"><a class="link-tag" href="https://github.com/IBM-EPBL/IBM-Project-21317-1659777635" target="_blank" ><i class="fa-brands fa-github"></i></a></li>
            </ul>        
        </div>
    </div>
 
<script>
    
    setInterval(function(){
      
        fetch('/label').then(
            response =>response.json()
        ).then(
            data => update_label(data)
        )

    },500
    );

    function update_label(data)
    {
        document.getElementById("txt").innerHTML=data;
    }

</script>    
<div class="main">
    <div class="cont">
        <div class="flex">
            <div class="output_1">
                <div class="cent"> 
                    <h1>Video Output</h1>
                </div>   
                <div class="cent">
                    <div class="video_stream">
                    <!-- <img src="{{ url_for('video') }}"> -->
                    <video id="videoCam" style="border-radius: 30px;" ></video>
                    <!-- <img src="../Data/Test/A/Image_1667714449.7824135.jpg" alt="A"> -->
                    </div>  
                </div>
                
            </div>

            <div class="output_2">
                <div class="cent">
                    <h1>Predicted Text</h1>
                </div>
                <div class="cent">
                    <div class="P_txt">
                    <h1 class="txt"> <span id="txt">A</span> </h1>
                    </div> 
                </div>
                
            </div>

        </div>
        <p>The above program predict the sign language gesture with the help trained CNN Model</p>
        <div class="btn">
            <a href="./home.html" class="an" onclick="server.off_rec()" >Stop Translate</a>
        </div>
        
    </div>
</div>
<footer>
    <p id="copyrights" style="color: #474E68; font-size:15px;"></p>
</footer>
<script>
    const d = new Date();
    document.getElementById("copyrights").innerHTML ="Copyright © "+ d.getFullYear();

    window.onload = function(){
        let All_mediaDevices=navigator.mediaDevices
        if (!All_mediaDevices || !All_mediaDevices.getUserMedia) {
        console.log("getUserMedia() not supported.");
        return;
        }
        All_mediaDevices.getUserMedia({
        //audio: true,
        video: true
        })
        .then(function(vidStream) {
        var video = document.getElementById('videoCam');
        if ("srcObject" in video) {
            video.srcObject = vidStream;
        } else {
            video.src = window.URL.createObjectURL(vidStream);
        }
        video.onloadedmetadata = function(e) {
            video.play();
        };
        })
        .catch(function(e) {
        console.log(e.name + ": " + e.message);
        });
    }

    var msg=document.getElementById('txt');
    const letter=['A','B','C','D','E','F','G','H','I','J'];
    t=1000
    setInterval( 
        function () {
        msg.innerHTML=letter[parseInt(Math.random()*10)] 
    }, ((parseInt(Math.random()*10000))/5));

</script>

<!-- copyrigths:
Devanand
Dhinesh -->

</html> 